

.Labelcomponent-custom-group {
    position: relative;
  }
 
  .Labelcomponent-custom-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
 
  .Labelcomponent-custom-input:focus {
    outline: none;
  }
 
  .Labelcomponent-label-class
  {
    color: #080808;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

.Labelcomponent-custom-input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.Labelcomponent-custom-input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}
 
  .Labelcomponent-custom-input:focus ~ .Labelcomponent-label-class, .Labelcomponent-custom-input:valid ~ .Labelcomponent-label-class {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }
 
  .Labelcomponent-custom-bar {
    position: relative;
    display: block;
    width: 200px;
  }
 
  .Labelcomponent-custom-bar:before,
  .Labelcomponent-custom-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
 
  .Labelcomponent-custom-bar:before {
    left: 50%;
  }
 
  .Labelcomponent-custom-bar:after {
    right: 50%;
  }
 
  .Labelcomponent-custom-input:focus ~ .Labelcomponent-custom-bar:before, .Labelcomponent-custom-input:focus ~ .Labelcomponent-custom-bar:after {
    width: 50%;
  }
 
  .Labelcomponent-custom-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
 
  .Labelcomponent-custom-input:focus ~ .Labelcomponent-custom-highlight {
    animation: inputHighlighter 0.3s ease;
  }
 
  @keyframes inputHighlighter {
    from {
      background: #5264AE;
    }
 
    to {
      width: 0;
      background: transparent;
    }
  }
 
   